//- https://github.com/material-components/material-components-web/tree/v13.0.0/packages/mdc-typography#typography

mixin h1
  h1.headline1&attributes(attributes)
    block

mixin h2
  h2.headline2&attributes(attributes)
    block

mixin h3
  h3.headline3&attributes(attributes)
    block

mixin h4
  h4.headline4&attributes(attributes)
    block

mixin h5
  h5.headline5&attributes(attributes)
    block

mixin h6
  h6.headline6&attributes(attributes)
    block

mixin subtitle1
  h6.subtitle1&attributes(attributes)
    block

mixin subtitle2
  h6.subtitle2&attributes(attributes)
    block

mixin body1
  body.body1&attributes(attributes)
    block

mixin body2
  body.body2&attributes(attributes)
    block

mixin caption
  span.caption&attributes(attributes)
    block

mixin button
  button.caption&attributes(attributes)
    block

mixin overline
  span.overline&attributes(attributes)
    block
