mixin h1(text)
  h1.headline1&attributes(attributes)= text

mixin h2(text)
  h2.headline2&attributes(attributes)= text

mixin h3(text)
  h3.headline3&attributes(attributes)= text

mixin h4(text)
  h4.headline4&attributes(attributes)= text

mixin h5(text)
  h5.headline5&attributes(attributes)= text

mixin h6(text)
  h6.headline6&attributes(attributes)= text

mixin subtitle1(text)
  h6.subtitle1&attributes(attributes)= text

mixin subtitle2(text)
  h6.subtitle2&attributes(attributes)= text

mixin body1(text)
  body.body1&attributes(attributes)= text

mixin body2(text)
  body.body2&attributes(attributes)= text

mixin caption(text)
  span.caption&attributes(attributes)= text

mixin button(text)
  button.caption&attributes(attributes)= text

mixin overline(text)
  span.overline&attributes(attributes)= text
