-
  function randomId() {
      const random = Math.random();
      return 'id' + `${random}`.substring(2);
  }

mixin script(className, id)
  -
    const script = `
      (function () {
        const interval = setInterval(function () {
          const init = window['${className}'];
          if (init) {
            clearInterval(interval);
            init(${id});
          }
        });
      })();
    `
  script= script
