include /pug-material-design/button

.p: +textButton('text button')
.p: +outlinedButton('outlined button')
.p: +raisedButton('raised button')
.p: +unelevatedButton('unelevated button')
br
.p: +outlinedButton({ label: '(outlined) button leading icon', icon: 'face' })
.p: +raisedButton({ label: '(raised) button trailing icon', icon: { icon: 'face', trailing: true } })
br

//- include ../../iconButton
include /pug-material-design/iconButton

.p Icon button &nbsp;
  +iconButton('favorite', 'icon button')
.p Icon toggle button &nbsp;
  +iconToggleButton('favorite', 'icon toggle button', 'favorite_border')
.p Icon toggle button on &nbsp;
  +iconToggleButton('favorite', 'icon toggle button on', 'favorite_border', true)
br

//- include ../../textField
include /pug-material-design/textField

.p: +filledTextField('name', 'filledTextField')
.p: +outlinedTextField('name', 'outlinedTextField')
.p: +filledTextArea('name', 'filledTextArea')
.p: +outlinedTextArea('name', 'outlinedTextArea')
