mixin p
  block
  p: hr

.body1
  include /pug-material-design/button

  +p
    pre +textButton('text button')
    +textButton('text button')
  +p
    pre +outlinedButton('outlined button')
    +outlinedButton('outlined button')
  +p
    pre +raisedButton('raised button')
    +raisedButton('raised button')
  +p
    pre +unelevatedButton('unelevated button')
    +unelevatedButton('unelevated button')
  +p
    pre +raisedButton({ label: 'shaped (raised) button', shaped: true })
    +raisedButton({ label: 'shaped (raised) button', shaped: true })
  +p
    pre +outlinedButton({ label: '(outlined) button leading icon', icon: 'face' })
    +outlinedButton({ label: '(outlined) button leading icon', icon: 'face' })
  +p
    pre +raisedButton({ label: '(raised) button trailing icon', icon: { icon: 'face', trailing: true } })
    +raisedButton({ label: '(raised) button trailing icon', icon: { icon: 'face', trailing: true } })

  include /pug-material-design/iconButton

  +p
    pre +iconButton('favorite', 'icon button')
    +iconButton('favorite', 'icon button')
  +p
    pre +iconToggleButton('favorite', 'icon toggle button', 'favorite_border')
    +iconToggleButton('favorite', 'icon toggle button', 'favorite_border')
  +p
    pre +iconToggleButton('favorite', 'icon toggle button on', 'favorite_border', true)
    +iconToggleButton('favorite', 'icon toggle button on', 'favorite_border', true)

  include /pug-material-design/textField

  +p
    pre +filledTextField('name', 'filledTextField')
    +filledTextField('name', 'filledTextField')
  +p
    pre +outlinedTextField('name', 'outlinedTextField')
    +outlinedTextField('name', 'outlinedTextField')
  +p
    pre +filledTextArea('name', 'filledTextArea')
    +filledTextArea('name', 'filledTextArea')
  +p
    pre +outlinedTextArea('name', 'outlinedTextArea')
    +outlinedTextArea('name', 'outlinedTextArea')

  include /pug-material-design/checkbox

  +p
    pre +checkbox('name', 'label')
    +checkbox('name', 'label')
  +p
    pre +checkbox('name', 'label', { checked: true })
    +checkbox('name', 'label', { checked: true })
  +p
    pre +checkbox('name', 'label', { indeterminate: true })
    +checkbox('name', 'label', { indeterminate: true })
  +p
    pre +checkbox('name', 'label', { checked: true, disabled: true })
    +checkbox('name', 'label', { checked: true, disabled: true })
  +p
    pre +checkbox('name', 'label', { reversed: true })
    +checkbox('name', 'label', { reversed: true })
  +p
    pre +checkbox('name', 'wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap')
    +checkbox('name', 'wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap wrap')
  +p
    pre +checkbox('name', 'nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap', { nowrap: true })
    +checkbox('name', 'nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap nowrap', { nowrap: true })

  include /pug-material-design/typography

  +p
    pre +h1 Headline 1
    +h1 Headline 1
  +p
    pre +h2 Headline 2
    +h2 Headline 2
  +p
    pre +h3 Headline 3
    +h3 Headline 3
  +p
    pre +h4 Headline 4
    +h4 Headline 4
  +p
    pre +h5 Headline 5
    +h5 Headline 5
  +p
    pre +h6 Headline 6
    +h6 Headline 6
  +p
    pre +h6 Subtitle 1
    +h6 Subtitle 1
  +p
    pre +h6 Subtitle 2
    +h6 Subtitle 2
  +p
    pre +button Button text
    +button Button text
  +p
    pre +overline Overline text
    +overline Overline text
  +p
    pre.
      .body1.
        Body 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur unde suscipit, quam beatae rerum inventore consectetur, neque doloribus, cupiditate numquam dignissimos laborum fugiat deleniti? Eum quasi quidem quibusdam.
    .body1.
      Body 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur unde suscipit, quam beatae rerum inventore consectetur, neque doloribus, cupiditate numquam dignissimos laborum fugiat deleniti? Eum quasi quidem quibusdam.
  +p
    pre.
      .body2.
        Body 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur unde suscipit, quam beatae rerum inventore consectetur, neque doloribus, cupiditate numquam dignissimos laborum fugiat deleniti? Eum quasi quidem quibusdam.
    .body2.
      Body 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur unde suscipit, quam beatae rerum inventore consectetur, neque doloribus, cupiditate numquam dignissimos laborum fugiat deleniti? Eum quasi quidem quibusdam.
  +p
    pre +caption Caption text
    +caption Caption text
